{% extends "base.html" %}

{% block content %}

<section>
    <h1 class="text-xl mb-2 font-bold">Additional Information</h1>
    
    <p>If you would like to further your knowledge on pregnancy risk, you can explore the Pregnancy Risk Assessment Monitoring System (PRAMS).</p>

    <p>Information about PRAMS can be found on the official CDC website: <a href="https://www.cdc.gov/prams/index.htm" target="_blank" rel="noopener noreferrer">CDC PRAMS</a>.</p>

    <p>Data regarding NYC PRAMS can be found on Data.gov: <a href="https://catalog.data.gov/dataset/pregnancy-risk-assessment-monitoring-system-prams" target="_blank" rel="noopener noreferrer">NYC PRAMS Data</a>.</p>
</section>

{% endblock %}
