<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to my Flask App</title>
    
    <!-- Tailwind CSS via CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-200">

    <header class="bg-purple-300 text-white p-4">
        <h1 class="text-2xl">Welcome to my Flask App Page</h1>
        <nav>
            <ul class="flex space-x-4">
                <li><a href="/about" class="hover:underline">About</a></li>
                <li><a href="/morbidity" class="hover:underline">Morbidity</a></li>
                <li><a href="/mortality" class="hover:underline">Mortality</a></li>
                <li><a href="/additionalinfo" class="hover:underline">Additional Info</a></li>
            </ul>
        </nav>
    </header>


    <main class="p-4">

        {% block content %}
        <h1> This website provides access to statistics and information regarding the morbidity and mortality rates of pregancy in NYC. As well as links to find out more information about Pregnancy Risk Assessment Monitoring System (PRAMS).</h1>
        
        {% endblock %}

    </main>

    <footer class="bg-purple-300 text-white p-4 mt-6">
        <p>© 2023 My Flask App. All Rights Reserved.</p>
    </footer>
</body>

</html>
   
   