{% extends "base.html" %}

{% block content %}

<section>
    <h1 class="text-xl mb-2 font-bold">Data representing the pregnancy-associated morbidity rates</h1>
    
    {% if data1 and data1|length > 0 %}
    <table class="table-auto">
        <thead>
            <tr>
                <th class="px-4 py-2">Year</th>
                <th class="px-4 py-2">Related</th>
                <th class="px-4 py-2">Underlying Cause</th>
                <th class="px-4 py-2">Race/Ethnicity</th>
                <th class="px-4 py-2">Borough</th>
                <th class="px-4 py-2">Deaths</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data1 %}
                <tr>
                    <td class="border px-4 py-2">{{ row["Year"] }}</td>
                    <td class="border px-4 py-2">{{ row["Related"] }}</td>
                    <td class="border px-4 py-2">{{ row["Underlying_cause"] }}</td>
                    <td class="border px-4 py-2">{{ row["Race/ethnicity"] }}</td>
                    <td class="border px-4 py-2">{{ row["Borough"] }}</td>
                    <td class="border px-4 py-2">{{ row["Deaths"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p class="text-red-500">Error: Unable to retrieve data or empty dataset.</p>
    {% endif %}
</section>

{% endblock %}
